<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
   <div class="gambo-Breadcrumb">
                            <div class="container">
                               <h1>Update your Post Here</h1>
                                <div class="form-group">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.media }}
                                        {{ form.as_p }}
                                        <button class="btn btn-secondary">Update_post</button>
                                    </form>
                                </div>
                            </div>
                        </div>
</body>
</html>